@media screen and (max-width: 767px) {
    .body {
        margin: 0;
        font-family: Tahoma, serif;
    }

    #header {
        height: 250px;
        margin-bottom: 30px;
        background-color: #41525a;
    }

    #header-container {
        height: 250px;
    }

    #navbar {
        margin-bottom: 30px;
    }


    a {
        color: rgb(0, 0, 0);
        text-decoration: none;
    }

    a:visited {
        color: #b9b4b4;
        text-decoration: none;
    }

    a:hover {
        color: #ff3939;
    }

    #footer {
        background-color: #41525a;
        height: 95px;
    }

    #bottom {
        color: #fef6a4;
        font-size: 15px;
        font-weight: bold;
        padding-left: 15px;
    }

    #logo {
        height: 100px;
        width: 100px;
        margin: 0 5px;
    }

    #name {
        color: #fef6a4;
        margin: 0 5px;
        font-size: xx-large;
    }
}



@media (min-width: 768px) {
    .body {
        margin: 0;
        font-family: Tahoma, serif;
    }


    #header {
        height: 150px;
        margin-bottom: 30px;
        background-color: #41525a;
    }

    #header-container {

        height: 150px;
    }

    #navbar {
        margin-bottom: 30px;
    }


    a {
        color: rgb(0, 0, 0);
        text-decoration: none;
    }

    a:visited {
        color: #b9b4b4;
        text-decoration: none;
    }

    a:hover {
        color: #ff3939;
    }


    #logo {
        width: 130px;
        height: 110px;
    }

    #name {
        color: #fef6a4;
        font-size: 70px;
    }


    #footer {
        background-color: #41525a;
        height: 95px;
    }

    #bottom {
        color: #fef6a4;
        font-size: 15px;
        font-weight: bold;
        padding-left: 15px;
    }
    #calculator{
        background-color: #41525a;
        color: #FEF6A4FF;
    }
}
